@media all and (max-width: 1024px) {
    .exp-left-img{
        display: none;
    }

}

@media all and (max-width: 768px) {
    
    .nav-links{
        display: none;
    }
    .banner-section{
        height: 90vh;

    }
    .banner{
        overflow: hidden;
    }
    .banner-circle{
        height: 550px;
        width: 550px;
    }
    .animate-text .text-outline{
        font-size: 96px;
    }

    .exp-content{
        grid-template-columns: 1fr;
    }
    .exp-left-img{
        display: none;
    }
    .exp-caption{
        font-size: 218.75px;
    }
    .exp-cards{
        grid-template-columns: 1fr 1fr;
    }
    .menu-icons{
        width: 100%;
    }
    .menus{
        grid-template-columns: 1fr;
    }
    .popular-menu{
        padding: 50px;
    }

    

}
@media all and (max-width: 576px) {
    .banner-section{
        height: 70vh;

    }
    .nav-div{
        padding: 0 20px;
    }
    .banner{

    }
    .banner-circle img{
        display: none;
    }
    .banner-circle{
        height: 320px;
        width: 320px;
    }
    .exp-text{
        font-size: 17px;
        margin-bottom: 10px;
    }
    .animate-text {
        font-size: 60px;
    }
    .banner button{
        margin-top: 10px;
    }

    .text-outline{
        font-size: 60px;
    }
    .exp-caption{
        font-size: 150px;
    }
    .exp-cards{
        grid-template-columns: 1fr;
    }
    .exp-card{
        padding: 0;
    }

    .menu{
        flex-direction: column;
        align-items: start;
    }
    .menu-data{
        padding-inline: 0;
    }
    .menu-icons{
        grid-template-columns: repeat(1, 1fr);
    }
    .section-header h5{
        font-size: 15px;
    }
    .section-header h2{
        font-size: 41px;
    }
    .popular-menu{
        padding: 20px;
    }
    .menus{
        padding: 0;
    }
    .exp-btn-card{
        flex-direction: column;
        align-items: start;
    }
    .exp-cards{
        padding: 0;
    }
    

}
@media all and (max-width: 320px) {
    .banner-circle{
        height: 320px;
        width: 320px;
    }
    .animate-text{
        font-size: 60px;
        line-height: 70px;

    }

    .text-outline{
        font-size: 60px;
        line-height: 70px;

    }
    .exp-text{
        font-size: 17px;
        margin-bottom: 10px;

    }
    .menu{
        flex-direction: column;
        align-items: start;
    }
    .menu-data{
        padding-inline: 0;
    }

    .exp-btn-card{
        flex-direction: column;
        align-items: start;
    }
    .exp-cards{
        padding: 0;
    }

}